@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

html,body {
  background-color: black;
}

#root {
  width: 100vw;
  height: 100vh;
}

.planet_name {
  @apply text-white text-2xl font-mono font-outline-1
  font-bold select-none relative left-5 top-5
}

.text-def-small {
  @apply text-white text-xl font-mono select-none
}

.visual-button {
  @apply border border-orange-500 rounded-md cursor-pointer
  w-5 h-5 m-1.5
}

.about_button {
  @apply absolute text-white bg-gray-600 rounded-lg
  p-1 m-4 right-5 bottom-10 h-16 w-16
  flex justify-center
}

.back_button {
  @apply absolute text-white text-xl
  bottom-5 left-5 bg-gray-700 p-2 m-2 w-[18vw]
}

.object_button {
  @apply border border-orange-600 p-2 m-1 text-white rounded-md text-lg
  hover:bg-orange-300 hover:bg-opacity-35
}